@import "vars";
@import "mixins";

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_heading {
    color: $colorSelectorSite;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.breadcrumbs {
  &_ul {
    list-style-type: none;
    display: flex;
  }

  &_li:not(:last-child):after {
    content: " /";
    padding-left: 8px;
    padding-right: 8px;
    color: $colorBreadcrumbsText;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &_link {
    color: $colorBreadcrumbsText;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &_li:last-child .breadcrumbs_link{
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.filter-sort {
  padding-top: 39px;
  box-sizing: border-box;
  height: 132px;
  position: relative;
  display: flex;
}

.filter {
  padding-top: 13px;
  width: $widthFilter;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  &_content {
    background-color: #fff;
    padding-top: 0px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  &[open] {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }

  &[open] .filter_heading {
    color: $colorSelectorSite;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &[open] path {
    fill: $colorSelectorSite;
  }

  &_summary {
    @include centerflex();
    gap: 11px;
    padding-left: 16px;
  }

  &_heading {
    color: $filterTextColor;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &_item {
    margin-top: 16px;
  }

  &_link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
  }

  &_link {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      color: $colorSelectorSite;
    }
  }

  &_head {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid $colorSelectorSite;
  }

  &_item[open] .filter_head {
    color: $colorSelectorSite;
  }
}

.sort {
  padding-top: 12px;
  padding-left: 30px;
  display: flex;
  gap: 18px;

  &_details {
    position: relative;
  }

  &_summary {
    @include centerflex;
    gap: 10px;
  }

  &_check {
    display: flex;
    gap: 9px;
    align-items: center;
  }

  &_heading {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #fff;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
  }

  &_check {
    color: #6f6e6e;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.catalog_box {
  max-width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
  &_img {
    width: 100%;
  }

  &_textbox {
    padding-left: 16px;
    padding-top: 25px;

    &_title {
      color: #000;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 12px;
    }
    &_text {
      width: 314px;
      color: #5d5d5d;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 18px;
    }
    &_price {
      color: $colorSelectorSite;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .hidden {
      display: none;
    }
  }
}

.catalog_box_hidden {
  max-width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
  &_card {
    width: 100%;
  }

  &_textbox {
    padding-left: 16px;
    padding-top: 25px;

    &_title {
      color: #000;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 12px;
    }
    &_text {
      width: 314px;
      color: #5d5d5d;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 18px;
    }
    &_price {
      color: $colorSelectorSite;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.catalog_box2 {
  width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
  &_card {
    margin-bottom: 3px;
    background-color: #f7e4e2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 9px;
    padding-bottom: 11px;
    width: 100%;
  }
  &_textbox2 {
    padding-left: 16px;
    padding-top: 22px;

    &_title {
      color: #000;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 12px;
    }
    &_text {
      width: 314px;
      color: #5d5d5d;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 18px;
    }
    &_price {
      color: $colorSelectorSite;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.pages {
  &_stroke {
    width: 283px;
    height: 43px;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 97px;
    margin-top: 49px;
  }

  &_link1 {
    color: $colorSelectorSite;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &_link {
    color: #c4c4c4;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &_link.last {
    margin-left: -18px;
  }
}

@media (max-width: 1024px) {
  .top-head_heading {
    padding-left: 60px;
  }

  .breadcrumbs {
    padding-right: 60px;
  }

  .filter {
    padding-left: 45px;
  }

  .sort{
    padding-left: 0px;
  }

  .catalog {
    max-width: 985px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .catalog_box {
    width: 326px;
    &_card_img {
      width: 325px;
      height: 381px;
    }

    &_textbox {
      padding-left: 10px;
    }
  }

  .catalog_box2 {
    width: 326px;

    &_card {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &_card_img {
      width: 325px;
      height: 381px;
    }

    &_textbox2 {
      padding-left: 10px;
    }
  }

  .catalog_box_hidden {
    width: 325px;
    &_card_img_hidden {
      width: 325px;
      height: 381px;
    }

    &_textbox {
      padding-left: 10px;
    }
  }
}

@media (max-width: 768px) {


  .top-head_heading {
    padding-left: 16px;
}

  .breadcrumbs {
    padding-right: 16px;
  }

  .filter{
    padding-left: 0px;
  }

  .sort {
    padding-left: 112px;
  }

  .catalog_box_hidden {
    display: none;
    &_card {
      display: none;
    }

    &_textbox {
      display: none;
    }
  }

  .catalog {
    max-width: 985px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 16px;
  }

  .catalog_box {
    width: 360px;
    &_card_img {
      width: 360px;
      height: 420px;
    }

    &_textbox {
      padding-left: 16px;
    }
  }

  .catalog_box2 {
    width: 360px;

    &_card {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &_card_img {
      width: 360px;
      height: 420px;
    }

    &_textbox2 {
      padding-left: 10px;
    }
  }
}

@media (max-width: 375px) {
  .top-head {
    display: grid;
    justify-content: center;
    padding-top: 24px;
    gap: 32px;
    justify-items: center;
  }

  .filter_heading {
    display: none;
  }

  .catalog {
    justify-content: center;
    margin-left: 0px;
  }
}
