@import "vars";
@import "mixins";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

body {
  font-family: "Lato", sans-serif;
}

.centering {
  padding-left: calc(50% - $widthSide/2);
  padding-right: calc(50% - $widthSide/2);
}

.header {
  background-color: $headerBackgroundColor;
}

.headNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.headNav_left {
  display: flex;
  gap: 41px;
  align-items: flex-end;
}

.headNav_right {
  display: flex;
  gap: 33px;
  align-items: flex-end;
  margin-right: 41px;

  &_basket_box {
    position: relative;
  }

  &_basket_num {
    position: absolute;
    right: -9px;
    bottom: 15px;
  }

  &_basket_text {
    position: absolute;
    right: -4px;
    bottom: 17px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
  background: #f1e4e6;
  margin-bottom: 65px;

  &_img {
    margin-left: calc(50% - 570px - 230px);
  }

  &_heading {
    display: flex;
    gap: 10px;

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &_h1 {
      color: #222;
      font-family: Lato;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &_h2 {
      color: #222;
      font-family: Lato;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &_selectiv {
    color: $colorSelectorSite;
  }
}

.nav_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
  justify-content: center;
}

.selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.nav_box {
  position: relative;
  display: flex;

  &_text {
    position: absolute;
    left: 15cqb;
    bottom: 14cqh;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;

    &_big {
      position: absolute;
      z-index: 3;
      left: calc((100% - 150px) / 2);
      bottom: calc((100% - 50px) / 2);

      color: #fff;
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      display: flex;
      flex-direction: column;
    }

    &_selectiv {
      color: $colorSelectorSite;
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.nav_list_dark {
  position: absolute;
}

.nav_box_big {
  position: relative;
  display: flex;

  &_text {
    position: absolute;
    left: 15cqb;
    bottom: 14cqh;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;

    &_big {
      position: absolute;
      z-index: 3;
      left: calc((100% - 150px) / 2);
      bottom: calc((100% - 50px) / 2);

      color: #fff;
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      display: flex;
      flex-direction: column;
    }

    &_selectiv {
      color: $colorSelectorSite;
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.nav_list_big_dark {
  position: absolute;
}

.product_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;

  &_h1 {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
    font-size: 30px;
  }

  &_text {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9f9f9f;
    font-size: 14px;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;

  &_card {
    max-width: calc(($widthSide - 60px) / 3);
    background-color: #f8f8f8;

    &_img {
      width: 100%;
    }

    &_title {
      color: #222;
      font-size: 13px;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 13px;
      padding-left: 18px;
    }

    &_text {
      color: #5d5d5d;
      font-size: 14px;
      font-weight: 300;
      padding-left: 18px;
    }

    &_price {
      color: $colorSelectorSite;
      font-size: 16px;
      font-weight: 400;
      margin-top: 18px;
      margin-bottom: 20px;
      padding-left: 18px;
    }
  }
}

.product_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}

.button_AllProduct {
  border: solid 1px;
  padding: 15px 40px;
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_img {
    margin-bottom: 25px;

    &_2 {
      margin-bottom: 19px;
    }
  }

  &_title {
    margin-bottom: 16px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_text {
    padding: 0 25px;
    color: #fbfbfb;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.5;
  }
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 327px;
  padding-top: 97px;
  padding-bottom: 126px;
  background: rgba(244, 244, 244, 0.7);

  &_img {
    padding-bottom: 30px;
  }

  &_text {
    text-align: center;
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  &_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
  }

  &_right {
    display: grid;
    justify-content: center;
    align-items: end;
    justify-items: center;
  }

  &_big {
    text-align: center;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
  }

  &_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
  }

  &_little_title {
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_forma {
    padding-top: 27px;
    display: flex;
    width: 360px;
    border: 3px solid transparent;
  }

  &_forma_infield {
    width: 70%;
    text-align: start;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
  }

  &_forma_text {
    width: 30%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    background: #f16d7f;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
  }
}

.footer {
  background-color: $headerBackgroundColor;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_left {
  display: flex;
  align-items: flex-end;
  &_text {
    color: #fbfbfb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer_right {
  display: flex;
  gap: 7px;
  align-items: flex-end;
  &_border_logo {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_logo {
    color: #000000;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .headNav {
    padding-left: 30px;
  }

  .main {
    &_img {
      margin-left: -100px;
      width: calc(800px * 0.7);
      height: calc(764px * 0.7);
      flex-shrink: 0;
    }
  }

  .catalog {
    display: grid;
    grid-template-columns: repeat(3, minmax(2px, 1fr));
  }

  .nav_lists {
    gap: 23px;
  }

  .selector {
    gap: 23px;
  }

  .nav_list {
    width: calc(360px * 0.8);
    height: calc(260px * 0.8);
    flex-shrink: 0;
  }

  .nav_list_dark {
    width: calc(360px * 0.8);
    height: calc(260px * 0.8);
    flex-shrink: 0;
  }

  .nav_box_big {
    width: calc(1140px * 0.8);
    height: calc(180px * 0.8);
    flex-shrink: 0;
  }

  .nav_list_big_dark {
    width: calc(1140px * 0.8);
    height: calc(180px * 0.8);
    flex-shrink: 0;
  }

  .product {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding-left: 60px;
    padding-right: 70px;

    &_card {
      width: calc(360px * 0.8);
      &_img_top {
        width: calc(360px * 0.8);
        height: calc(420px * 0.8);
      }

      &_title {
        padding-left: 10px;
      }

      &_text {
        padding-left: 10px;
      }

      &_price {
        padding-left: 10px;
      }
    }
  }

  .promo {
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscribe {
    padding-left: 60px;
    padding-right: 60px;
    gap: 300px;
  }

  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .headNav {
    padding-left: 0px;
  }

  .headNav_left {
    margin-left: 32px;
  }

  .main {
    &_img {
      margin-left: calc(50% - 384px - 23px);
      width: 384px;
      height: 366.52px;
    }
    &_heading {
      &_text {
      }

      &_h1 {
        color: #222;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      &_h2 {
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .catalog {
    max-width: 750px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .selector {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    width: 736px;
    flex-shrink: 0;
    gap: 20px;
  }

  .nav_box_text {
    position: absolute;
    left: 10cqb;
    bottom: 11cqh;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
  }

  .nav_box_big {
    width: 736px;
    height: 116.043px;
    flex-shrink: 0;
  }

  .nav_list {
    width: 232px;
    height: 167px;
  }

  .nav_list_dark {
    width: 232px;
    height: 167px;
  }

  .nav_list_big {
    width: 736px;
    height: 116.043px;
    flex-shrink: 0;
  }

  .nav_list_big_dark {
    width: 736px;
    height: 116.043px;
  }

  .product {
    gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

    &_card {
      width: 360px;
      &_img_top {
        width: 360px;
        height: 420px;
      }
    }
  }

  .promo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 48px;
    padding-bottom: 64px;

    &_box {
      margin-bottom: 48px;
    }

    &_text {
      width: 310px;
    }
  }

  .subscribe {
    display: grid;
    grid-template-columns: repeat(1, 550px);
    justify-items: center;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 219px;
    justify-content: center;

    &_left {
      width: 550px;
    }

    &_right {
      display: grid;
      justify-content: center;
    }

    &_title {
      display: grid;
    }

    &_forma {
      display: flex;
    }
  }

  .footer {
    gap: 382px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 425px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .headNav {
    padding-left: 0px;
  }

  .headNav_left {
    align-items: center;
    margin-left: 0px;
  }

  .headNav_right {
    align-items: center;
  }

  .hoverHead {
    display: none;
  }

  .headNav_right_basket_box {
    display: none;
  }

  .headNav_right {
    margin-right: 0px;
  }

  .main {
    width: 425px;
    justify-content: center;
    &_img {
      display: none;
    }

    &_heading {
      display: flex;
      gap: 15px;
      margin-top: 148px;
      margin-left: 56px;
      margin-bottom: 148px;
      margin-right: 56px;
      justify-content: center;
      align-items: center;

      &_h1 {
        white-space: nowrap;
      }

      &_h2 {
        white-space: nowrap;
      }
    }
  }

  .nav_lists {
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .selector {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 300px;
  }

  .nav_list {
    width: 360px;
    height: 260px;
  }

  .nav_list_dark {
    width: 360px;
    height: 260px;
  }

  .nav_box_text {
    left: 22cqb;
    bottom: 18cqh;
  }

  .nav_box_big {
    width: 360px;
    height: calc(116px * 0.5);
  }

  .nav_list_big {
    width: 360px;
    // height: calc(116px * 0.5);
  }

  .nav_box_big_text_big {
    left: 20cqb;
    bottom: -4cqh;
  }

  .nav_list_big_dark {
    width: 360px;
    // height: calc(116px * 0.5);
  }

  .product {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe {
    grid-template-columns: repeat(1, 1fr);

    &_left {
      width: 400px;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: center;
  }
}

@media (max-width: 375px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .headNav_left {
    align-items: center;
  }

  .headNav_right {
    align-items: center;
  }

  .hoverHead {
    display: none;
  }

  .headNav_right_basket_box {
    display: none;
  }

  .main {
    width: 375px;
    height: 363px;
    flex-shrink: 0;
    justify-content: center;
    &_img {
      display: none;
    }

    &_heading {
      display: flex;
      gap: 15px;
      margin-top: 148px;
      margin-left: 56px;
      margin-bottom: 148px;
      margin-right: 56px;
      justify-content: center;
      align-items: center;

      &_h1 {
        white-space: nowrap;
      }

      &_h2 {
        white-space: nowrap;
      }
    }
  }

  .selector {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 32px;
  }

  .nav_lists {
    padding-left: 15px;
  }

  .nav_list {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
  }

  .nav_list_dark {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
  }

  .nav_box_text {
    left: 19cqb;
    bottom: 21cqh;
  }

  .nav_list_big {
    width: 343px;
    height: 111px;
    flex-shrink: 0;
  }

  .nav_list_big_dark {
    width: 343px;
    height: 111px;
    flex-shrink: 0;
  }

  .product {
    padding-left: 70px;
  }

  .subscribe {
    gap: 0px;
    padding-bottom: 0px;

    &_left {
      width: 343px;
      height: 73px;
      flex-shrink: 0;
      height: 200px;
    }

    &_right {
      margin-top: 59px;
    }

    &_title {
      color: #222;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.2%;
    }

    &_big {
      color: #222224;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 153.2%; /* 36.768px */
    }

    &_little_title {
      color: #222224;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.2%;
    }

    &_forma {
      width: 340px;
      margin-bottom: 109px;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .last-footer {
      order: 1;
    }
    .first-footer {
      order: -1;
    }
    justify-content: center;
    justify-items: center;
    gap: 40px;
  }
}
