@import "vars";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.centering {
  padding-left: calc(50% - $widthSide / 2);
  padding-right: calc(50% - $widthSide / 2);
}

.header {
  background-color: $headerBackgroundColor;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
  &_left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
  }
  &_right {
    display: flex;
    gap: 33px;
    align-items: flex-end;
  }
}

.headNav_right_basket_box {
  position: relative;
}
.headNav_right_basket_num {
  position: absolute;
  right: -9px;
  bottom: 15px;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_heading {
    color: $colorSelectorSite;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 50;
  }
}

.breadcrumbs_link {
  color: $colorBreadcrumbsText;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.breadcrumbs_link_site {
  color: $colorSelectorSite;
  font-weight: 700;
}

.product-box {
  background: #f7f7f7;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_img {
    padding-top: 10px;
    padding-bottom: 42px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_small {
    color: $colorSelectorSite;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 65px;
    padding-bottom: 12px;
  }
  &_large {
    color: #4d4d4d;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 48px;
  }
  &_text {
    color: #5e5e5e;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &_price {
    color: $colorSelectorSite;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 32px;
    padding-bottom: 64px;
  }
  &_border {
    width: 641px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 0;
    margin-bottom: 64px;
  }
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  &_text {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
}

.bordercard {
  width: 212px;
  height: 48px;
  border: 1px solid $colorSelectorSite;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 192px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9px;
  &_text {
    color: $colorSelectorSite;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.catalog_box {
  max-width: 360px;
  background-color: #f8f8f8;
  &_img {
    width: 100%;
  }
  &_title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_text {
    color: #5d5d5d;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &_price {
    color: $colorSelectorSite;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.subscribe {
  display: flex;
  gap: 223px;
  padding-top: 97px;
  padding-bottom: 126px;
  background: rgba(244, 244, 244, 0.7);

  &_img {
    padding-bottom: 30px;
  }

  &_text {
    text-align: center;
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  &_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  &_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &_big {
    text-align: center;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
  }
  &_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
  }
  &_forma {
    margin-top: 27px;
    display: flex;
    width: 100%;
  }
  &_forma_infield {
    width: 70%;
    text-align: start;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_forma_text {
    width: 30%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    background: #f16d7f;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer {
  background-color: $headerBackgroundColor;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_left {
  display: flex;
  align-items: flex-end;
  &_text {
    color: #fbfbfb;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer_right {
  display: flex;
  gap: 7px;
  align-items: flex-end;
  &_border_logo {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  &_logo{
    color: #000000;
  }
}
