@import "vars";

a:hover {
  opacity: 0.6;
}

.breadcrumbs_link_site {
  color: $colorSelectorSite;
  font-weight: 700;
}

.product-box {
  background: #f7f7f7;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_img {
    padding-top: 10px;
    padding-bottom: 42px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_small {
    color: $colorSelectorSite;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 65px;
    padding-bottom: 12px;
  }
  &_large {
    color: #4d4d4d;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 48px;
  }
  &_text {
    color: #5e5e5e;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &_price {
    color: $colorSelectorSite;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 32px;
    padding-bottom: 64px;
  }
  &_border {
    width: 641px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 0;
    margin-bottom: 64px;
  }
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  &_text {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
}

.bordercard {
  width: 212px;
  height: 48px;
  border: 1px solid $colorSelectorSite;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 192px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9px;
  &_text {
    color: $colorSelectorSite;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
