.card_box {
  margin-top: 96px;
  display: flex;
  justify-content: center;
  gap: 128px;
  margin-bottom: 144px;
  &_left {
    .card {
      width: 652px;
      height: 306px;
      margin-bottom: 40px;
      display: flex;
      align-items: flex-start;
      background: #fff;
      filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
      padding-left: 0px;

      &_img {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &_text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 22px;
        padding-left: 31px;
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;

        &_title {
          width: 210px;
          margin-bottom: 30px;
        }

        &_main {
          padding-bottom: 6px;
          color: #575757;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &_price {
          color: $colorSelectorSite;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &_light {
          color: #6f6e6e;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        #input1 {
          margin-left: 24px;
          width: 44px;
          height: 25px;
          text-align: center;
        }
      }

      &_icon {
        color: $colorSelectorSite;
        padding-top: 28px;
        padding-left: 100px;
      }
    }

    .button-box {
      display: flex;
      gap: 192px;
    }

    .button {
      width: 235px;
      height: 50px;
      flex-shrink: 0;
      background-color: #ffffff;
      border: 3px solid #a4a4a4;
      transition: 0.5s;
      color: #000000;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      transition: 0.7s;
    }

    .button:hover {
      color: #fff;
      background-color: $colorSelectorSite;
      border: 3px solid transparent;
    }

    .button_text:hover {
      color: #fff;
    }
  }

  &_right {
    margin-top: 17px;
    white-space: nowrap;

    .address {
      color: #222;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .input_div {
      stroke-width: 1px;
      stroke: #a4a4a4;
      width: 360px;
      height: 44px;
      flex-shrink: 0;
      color: #b1b1b1;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-top: 20px;
    }

    input::-webkit-input-placeholder {
      padding-top: 13px;
      padding-bottom: 16px;
      padding-left: 17px;
      color: #b1b1b1;
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .submit {
      margin-top: 23px;
      width: 101px;
      height: 35px;
      flex-shrink: 0;
      background-color: #ffffff;
      color: #000;
      font-size: 11px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      border: 3px solid #a4a4a4;
      transition: 0.7ms;
    }

    .submit:hover {
      background-color: $colorSelectorSite;
      border: 3px solid transparent;
      color: #fff;
    }
  }

  .total {
    margin-top: 57px;
    &_box {
      width: 360px;
      height: 214px;
      display: flex;
      background-color: #f5f3f3;
      flex-direction: column;
      align-items: flex-end;
      align-content: flex-start;
      flex-wrap: nowrap;
      padding-right: 34px;
      padding-top: 39px;
    }

    &_text {
      @include priceStyle;
    }

    &_price {
      @include priceStyle;
    }

    .small_text {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
      justify-content: flex-end;
    }

    .big_text {
      display: flex;
      flex-wrap: nowrap;
      gap: 25px;
      margin-top: 12px;
      justify-content: flex-end;
    }

    &_text_big {
      color: #222;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .total_text_big_price {
      color: #f16d7f;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &_border {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 275px;
      border-bottom: 1px solid #e2e2e2;
      padding-top: 21px;
    }

    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 17px;
      width: 273px;
      height: 50px;
      background-color: $colorSelectorSite;
      border: 1px solid transparent;
      transition: 0.7ms;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .total_button:hover {
      filter: drop-shadow(0px 4px 4px rgba(241, 109, 127, 0.69));
      background-color: #ffffff;
      color: $colorSelectorSite;
    }
  }
}

@media (max-width: 768px) {
  .card_box {
    display: grid;
    gap: 0px;

    &_left {
      .card {
        width: 734px;
        margin-bottom: 62px;
        &_text_title {
          margin-bottom: 40px;
        }
        &_icon {
          margin-left: 80px;
          fill: #575757;
        }
      }

      .button-box {
        justify-content: center;
        gap: 48px;
      }
    }

    &_right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      margin-top: 64px;

      .total {
        margin-top: 37px;
      }
    }
  }
}

@media (max-width: 375px) {
  .top-head {
    padding-top: 50px;
    padding-bottom: 63px;
  }

  .card_box {
    margin-top: 39px;
    margin-bottom: 96px
    &_left {
      .card {
        margin-bottom: 32px;
        width: 358px;
        height: 188px;
        &_img {
          height: 188px;
          flex-shrink: 0;
        }

        &_text {
          color: #222;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-top: 13px;
          padding-left: 13px;

          &_light {
            color: #6f6e6e;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &_title {
            width: 140px;
            height: 35px;
            flex-shrink: 0;
            margin-bottom: 25px;
          }

          &_main {
            color: #575757;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &_price {
            color: #ef5b70;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          #input1 {
            width: 24.16px;
            height: 15.328px;
            flex-shrink: 0;
          }
        }
        &_icon {
          padding: 0px;
          margin-left: 30px;
          margin-top: 14px;
          width: 9px;
          height: 11px;
          flex-shrink: 0;
        }
      }
      .button-box {
        gap: 9px;
        flex-shrink: 0;

        .button {
          width: 175px;
          height: 33px;
          color: #575757;
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    &_right {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      margin-top: 48px;

      .submit {
        color: #575757;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .total{
        margin-top: 48px;
      }
    }
  }
}
