.breadcrumbs_link_site {
  color: #f16d7f;
  font-weight: 700;
}

.product-box {
  background: #f7f7f7;
}

.product_another {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_another_img {
  padding-top: 10px;
  padding-bottom: 42px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_small {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 65px;
  padding-bottom: 12px;
}
.title_large {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 48px;
}
.title_text {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.title_price {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 32px;
  padding-bottom: 64px;
}
.title_border {
  width: 641px;
  border-bottom: 1px solid #eaeaea;
  padding-top: 0;
  margin-bottom: 64px;
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.selectors_text {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.selectors_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.bordercard {
  width: 212px;
  height: 48px;
  border: 1px solid #f16d7f;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 192px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 9px;
}
.bordercard_text {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 375px) {
  .product-box {
    padding-top: 85px;
  }
  .product_another {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: end;
    justify-items: stretch;
  }
  .product_another_img {
    width: 374px;
  }
  .product_another_buttom {
    position: absolute;
  }
  .selectors_text {
    color: #6f6e6e;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head_heading {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs_ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs_link:not(:last-child):after {
  content: " /";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs_link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs_link:last-child {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-sort {
  padding-top: 39px;
  box-sizing: border-box;
  height: 132px;
  position: relative;
  display: flex;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter_content {
  background-color: #fff;
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter_heading {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter_heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter_item {
  margin-top: 16px;
}
.filter_link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_link:hover {
  color: #f16d7f;
}
.filter_head {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.filter_item[open] .filter_head {
  color: #f16d7f;
}

.sort {
  padding-top: 12px;
  padding-left: 30px;
  display: flex;
  gap: 18px;
}
.sort_details {
  position: relative;
}
.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort_check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sort_heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort_check {
  color: #6f6e6e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.catalog_box {
  max-width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
}
.catalog_box_img {
  width: 100%;
}
.catalog_box_textbox {
  padding-left: 16px;
  padding-top: 25px;
}
.catalog_box_textbox_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}
.catalog_box_textbox_text {
  width: 314px;
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 18px;
}
.catalog_box_textbox_price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog_box_textbox .hidden {
  display: none;
}

.catalog_box_hidden {
  max-width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
}
.catalog_box_hidden_card {
  width: 100%;
}
.catalog_box_hidden_textbox {
  padding-left: 16px;
  padding-top: 25px;
}
.catalog_box_hidden_textbox_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}
.catalog_box_hidden_textbox_text {
  width: 314px;
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 18px;
}
.catalog_box_hidden_textbox_price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog_box2 {
  width: 360px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
}
.catalog_box2_card {
  margin-bottom: 3px;
  background-color: #f7e4e2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 100%;
}
.catalog_box2_textbox2 {
  padding-left: 16px;
  padding-top: 22px;
}
.catalog_box2_textbox2_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}
.catalog_box2_textbox2_text {
  width: 314px;
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 18px;
}
.catalog_box2_textbox2_price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pages_stroke {
  width: 283px;
  height: 43px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 97px;
  margin-top: 49px;
}
.pages_link1 {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pages_link {
  color: #c4c4c4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pages_link.last {
  margin-left: -18px;
}

@media (max-width: 768px) {
  .top-head_heading {
    padding-left: 16px;
  }
  .breadcrumbs {
    padding-right: 16px;
  }
  .sort {
    padding-left: 112px;
  }
  .catalog {
    margin-left: 16px;
    gap: 16px;
  }
  .catalog_box_hidden {
    display: none;
  }
  .catalog_box_hidden_card {
    display: none;
  }
  .catalog_box_hidden_textbox {
    display: none;
  }
}
@media (max-width: 375px) {
  .top-head {
    display: grid;
    justify-content: center;
    padding-top: 24px;
    gap: 32px;
    justify-items: center;
  }
  .filter_heading {
    display: none;
  }
  .catalog {
    justify-content: center;
    margin-left: 0px;
  }
}
.card_box {
  margin-top: 96px;
  display: flex;
  justify-content: center;
  gap: 128px;
  margin-bottom: 144px;
}
.card_box_left .card {
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  background: #fff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  padding-left: 0px;
}
.card_box_left .card_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_box_left .card_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 31px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.card_box_left .card_text_title {
  width: 210px;
  margin-bottom: 30px;
}
.card_box_left .card_text_main {
  padding-bottom: 6px;
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_box_left .card_text_price {
  color: #f16d7f;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_box_left .card_text_light {
  color: #6f6e6e;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_box_left .card_text #input1 {
  margin-left: 24px;
  width: 44px;
  height: 25px;
  text-align: center;
}
.card_box_left .card_icon {
  color: #f16d7f;
  padding-top: 28px;
  padding-left: 100px;
}
.card_box_left .button-box {
  display: flex;
  gap: 192px;
}
.card_box_left .button {
  width: 235px;
  height: 50px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: 3px solid #a4a4a4;
  transition: 0.5s;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 0.7s;
}
.card_box_left .button:hover {
  color: #fff;
  background-color: #f16d7f;
  border: 3px solid transparent;
}
.card_box_left .button_text:hover {
  color: #fff;
}
.card_box_right {
  margin-top: 17px;
  white-space: nowrap;
}
.card_box_right .address {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card_box_right .input_div {
  stroke-width: 1px;
  stroke: #a4a4a4;
  width: 360px;
  height: 44px;
  flex-shrink: 0;
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
}
.card_box_right input::-webkit-input-placeholder {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card_box_right .submit {
  margin-top: 23px;
  width: 101px;
  height: 35px;
  flex-shrink: 0;
  background-color: #ffffff;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 3px solid #a4a4a4;
  transition: 0.7ms;
}
.card_box_right .submit:hover {
  background-color: #f16d7f;
  border: 3px solid transparent;
  color: #fff;
}
.card_box .total {
  margin-top: 57px;
}
.card_box .total_box {
  width: 360px;
  height: 214px;
  display: flex;
  background-color: #f5f3f3;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: nowrap;
  padding-right: 34px;
  padding-top: 39px;
}
.card_box .total_text {
  justify-content: flex-end;
  gap: 22px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_box .total_price {
  justify-content: flex-end;
  gap: 22px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_box .total .small_text {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-end;
}
.card_box .total .big_text {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  margin-top: 12px;
  justify-content: flex-end;
}
.card_box .total_text_big {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card_box .total .total_text_big_price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card_box .total_border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 21px;
}
.card_box .total_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  border: 1px solid transparent;
  transition: 0.7ms;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card_box .total .total_button:hover {
  filter: drop-shadow(0px 4px 4px rgba(241, 109, 127, 0.69));
  background-color: #ffffff;
  color: #f16d7f;
}

@media (max-width: 768px) {
  .card_box {
    display: grid;
    gap: 0px;
  }
  .card_box_left .card {
    width: 734px;
    margin-bottom: 62px;
  }
  .card_box_left .card_text_title {
    margin-bottom: 40px;
  }
  .card_box_left .card_icon {
    margin-left: 80px;
    fill: #575757;
  }
  .card_box_left .button-box {
    justify-content: center;
    gap: 48px;
  }
  .card_box_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 64px;
  }
  .card_box_right .total {
    margin-top: 37px;
  }
}
@media (max-width: 375px) {
  .top-head {
    padding-top: 50px;
    padding-bottom: 63px;
  }
  .card_box {
    margin-top: 39px;
    margin-bottom: 96px;
  }
  .card_box_left .card {
    margin-bottom: 32px;
    width: 358px;
    height: 188px;
  }
  .card_box_left .card_img {
    height: 188px;
    flex-shrink: 0;
  }
  .card_box_left .card_text {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 13px;
    padding-left: 13px;
  }
  .card_box_left .card_text_light {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_box_left .card_text_title {
    width: 140px;
    height: 35px;
    flex-shrink: 0;
    margin-bottom: 25px;
  }
  .card_box_left .card_text_main {
    color: #575757;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_box_left .card_text_price {
    color: #ef5b70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_box_left .card_text #input1 {
    width: 24.16px;
    height: 15.328px;
    flex-shrink: 0;
  }
  .card_box_left .card_icon {
    padding: 0px;
    margin-left: 30px;
    margin-top: 14px;
    width: 9px;
    height: 11px;
    flex-shrink: 0;
  }
  .card_box_left .button-box {
    gap: 9px;
    flex-shrink: 0;
  }
  .card_box_left .button-box .button {
    width: 175px;
    height: 33px;
    color: #575757;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_box_right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 48px;
  }
  .card_box_right .submit {
    color: #575757;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card_box_right .total {
    margin-top: 48px;
  }
}
.registration {
  display: flex;
  gap: 128px;
  margin-top: 64px;
}
.registration__left_title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left_input {
  display: flex;
  margin-top: 21px;
  width: 359px;
  height: 44px;
  stroke-width: 1px;
  stroke: #a4a4a4;
  padding-left: 17px;
  color: #b1b1b1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left_elipse_box {
  margin-top: 33px;
  display: flex;
  align-items: center;
}
.registration__left_elipse_box_figuire {
  display: flex;
  gap: 10px;
}
.registration__left_elipse_box_figuire_checked {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #a4a4a4;
}
.registration__left_elipse_box_figuire_text {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left_elipse_box_figuire_rigth {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
.registration__left_title2 {
  margin-top: 32px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left_passwordText {
  width: 359px;
  margin-top: 15.5px;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left_submit {
  width: 167px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 39px;
  margin-bottom: 39px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.7s;
  opacity: 0.7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(241, 109, 127, 0.69));
  color: #f16d7f;
  border: 1px solid transparent;
}
.registration__left_submit_img {
  margin-left: 20px;
  fill: #f16d7f;
}
.registration__left .registration__left_submit:hover {
  color: white;
  background-color: #f16d7f;
  border: 1px solid transparent;
}
.registration__left .registration__left_submit_img:hover {
  fill: #f16d7f;
}
.registration__right {
  width: 652px;
  height: 334px;
  flex-shrink: 0;
}
.registration__right_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__right_text {
  margin-top: 22px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__right_text_box {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 27px;
  margin-bottom: 28px;
}
.registration__right_text_box_img {
  width: 20px;
  height: 16px;
  flex-shrink: 0;
}
.registration__right_text_box_text {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 768px) {
  .registration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-top: 40px;
    margin-left: 17px;
  }
  .registration__right_title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration__right_text {
    width: 354px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration__right_text_box_img {
    width: 20px;
    height: 16px;
    flex-shrink: 0;
  }
  .registration__right_text_box_text {
    width: 311px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
@media (max-width: 375px) {
  .top-head_heading {
    padding-left: 0px;
  }
  .registration {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 8px;
    margin-bottom: 96px;
    gap: 0px;
  }
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

body {
  font-family: "Lato", sans-serif;
}

.centering {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222222;
}

.headNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.headNav_left {
  display: flex;
  gap: 41px;
  align-items: flex-end;
}

.headNav_right {
  display: flex;
  gap: 33px;
  align-items: flex-end;
  margin-right: 41px;
}
.headNav_right_basket_box {
  position: relative;
}
.headNav_right_basket_num {
  position: absolute;
  right: -9px;
  bottom: 15px;
}
.headNav_right_basket_text {
  position: absolute;
  right: -4px;
  bottom: 17px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
  background: #f1e4e6;
  margin-bottom: 65px;
}
.main_img {
  margin-left: calc(50% - 570px - 230px);
}
.main_heading {
  display: flex;
  gap: 10px;
}
.main_heading_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_heading_h1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.main_heading_h2 {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_selectiv {
  color: #f16d7f;
}

.nav_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
  justify-content: center;
}

.selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.nav_box {
  position: relative;
  display: flex;
}
.nav_box_text {
  position: absolute;
  left: 15cqb;
  bottom: 14cqh;
  z-index: 3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
}
.nav_box_text_big {
  position: absolute;
  z-index: 3;
  left: calc((100% - 150px) / 2);
  bottom: calc((100% - 50px) / 2);
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
}
.nav_box_text_selectiv {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.nav_list_dark {
  position: absolute;
}

.nav_box_big {
  position: relative;
  display: flex;
}
.nav_box_big_text {
  position: absolute;
  left: 15cqb;
  bottom: 14cqh;
  z-index: 3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
.nav_box_big_text_big {
  position: absolute;
  z-index: 3;
  left: calc((100% - 150px) / 2);
  bottom: calc((100% - 50px) / 2);
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
}
.nav_box_big_text_selectiv {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.nav_list_big_dark {
  position: absolute;
}

.product_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.product_heading_h1 {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #222;
  font-size: 30px;
}
.product_heading_text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9f9f9f;
  font-size: 14px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
.product_card {
  max-width: 360px;
  background-color: #f8f8f8;
}
.product_card_img {
  width: 100%;
}
.product_card_title {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 13px;
  padding-left: 18px;
}
.product_card_text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  padding-left: 18px;
}
.product_card_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 20px;
  padding-left: 18px;
}

.product_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}

.button_AllProduct {
  border: solid 1px;
  padding: 15px 40px;
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
}
.promo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo_img {
  margin-bottom: 25px;
}
.promo_img_2 {
  margin-bottom: 19px;
}
.promo_title {
  margin-bottom: 16px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.promo_text {
  padding: 0 25px;
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 327px;
  padding-top: 97px;
  padding-bottom: 126px;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe_img {
  padding-bottom: 30px;
}
.subscribe_text {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subscribe_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}
.subscribe_right {
  display: grid;
  justify-content: center;
  align-items: end;
  justify-items: center;
}
.subscribe_big {
  text-align: center;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.subscribe_little_title {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe_forma {
  padding-top: 27px;
  display: flex;
  width: 360px;
  border: 3px solid transparent;
}
.subscribe_forma_infield {
  width: 70%;
  text-align: start;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: transparent;
}
.subscribe_forma_text {
  width: 30%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  background: #f16d7f;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: transparent;
}

.footer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_left {
  display: flex;
  align-items: flex-end;
}
.footer_left_text {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_right {
  display: flex;
  gap: 7px;
  align-items: flex-end;
}
.footer_right_border_logo {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_right_logo {
  color: #000000;
}

@media (max-width: 1024px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .headNav {
    padding-left: 30px;
  }
  .main_img {
    margin-left: -100px;
    width: 560px;
    height: 534.8px;
    flex-shrink: 0;
  }
  .catalog {
    display: grid;
    grid-template-columns: repeat(3, minmax(2px, 1fr));
  }
  .nav_lists {
    gap: 23px;
  }
  .selector {
    gap: 23px;
  }
  .nav_list {
    width: 288px;
    height: 208px;
    flex-shrink: 0;
  }
  .nav_list_dark {
    width: 288px;
    height: 208px;
    flex-shrink: 0;
  }
  .nav_box_big {
    width: 912px;
    height: 144px;
    flex-shrink: 0;
  }
  .nav_list_big_dark {
    width: 912px;
    height: 144px;
    flex-shrink: 0;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding-left: 60px;
    padding-right: 70px;
  }
  .product_card {
    width: 288px;
  }
  .product_card_img_top {
    width: 288px;
    height: 336px;
  }
  .product_card_title {
    padding-left: 10px;
  }
  .product_card_text {
    padding-left: 10px;
  }
  .product_card_price {
    padding-left: 10px;
  }
  .promo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .subscribe {
    padding-left: 60px;
    padding-right: 60px;
    gap: 300px;
  }
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .headNav_left {
    margin-left: 32px;
  }
  .main_img {
    margin-left: calc(50% - 384px - 23px);
    width: 384px;
    height: 366.52px;
  }
  .main_heading_h1 {
    color: #222;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .main_heading_h2 {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .selector {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    width: 736px;
    flex-shrink: 0;
    gap: 20px;
  }
  .nav_box_text {
    position: absolute;
    left: 10cqb;
    bottom: 11cqh;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
  }
  .nav_box_big {
    width: 736px;
    height: 116.043px;
    flex-shrink: 0;
  }
  .nav_list {
    width: 232px;
    height: 167px;
  }
  .nav_list_dark {
    width: 232px;
    height: 167px;
  }
  .nav_list_big {
    width: 736px;
    height: 116.043px;
    flex-shrink: 0;
  }
  .nav_list_big_dark {
    width: 736px;
    height: 116.043px;
  }
  .product {
    gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .product_card {
    width: 360px;
  }
  .product_card_img_top {
    width: 360px;
    height: 420px;
  }
  .promo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .promo_box {
    margin-bottom: 48px;
  }
  .promo_text {
    width: 310px;
  }
  .subscribe {
    display: grid;
    grid-template-columns: repeat(1, 550px);
    justify-items: center;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 219px;
    justify-content: center;
  }
  .subscribe_left {
    width: 550px;
  }
  .subscribe_right {
    display: grid;
    justify-content: center;
  }
  .subscribe_title {
    display: grid;
  }
  .subscribe_forma {
    display: flex;
  }
  .footer {
    gap: 382px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 425px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .headNav {
    padding-left: 0px;
  }
  .headNav_left {
    align-items: center;
    margin-left: 0px;
  }
  .headNav_right {
    align-items: center;
  }
  .hoverHead {
    display: none;
  }
  .headNav_right_basket_box {
    display: none;
  }
  .headNav_right {
    margin-right: 0px;
  }
  .main {
    width: 425px;
  }
  .main_img {
    display: none;
  }
  .main_heading {
    display: flex;
    gap: 15px;
    margin-top: 148px;
    margin-left: 56px;
    margin-bottom: 148px;
    margin-right: 56px;
    justify-content: center;
    align-items: center;
  }
  .main_heading_h1 {
    white-space: nowrap;
  }
  .main_heading_h2 {
    white-space: nowrap;
  }
  .nav_lists {
    padding-left: 375px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .selector {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .nav_list {
    width: 360px;
    height: 260px;
  }
  .nav_list_dark {
    width: 360px;
    height: 260px;
  }
  .nav_box_text {
    left: 22cqb;
    bottom: 18cqh;
  }
  .nav_box_big {
    width: 360px;
    height: 58px;
  }
  .nav_list_big {
    width: 360px;
  }
  .nav_box_big_text_big {
    left: 20cqb;
    bottom: -4cqh;
  }
  .nav_list_big_dark {
    width: 360px;
  }
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscribe {
    grid-template-columns: repeat(1, 1fr);
  }
  .subscribe_left {
    width: 400px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: center;
  }
}
@media (max-width: 375px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .headNav {
    padding-left: 30px;
  }
  .headNav_left {
    align-items: center;
    margin-left: 16px;
  }
  .headNav_right {
    align-items: center;
  }
  .hoverHead {
    display: none;
  }
  .headNav_right_basket_box {
    display: none;
  }
  .headNav_right {
    margin-right: 17px;
  }
  .main {
    width: 375px;
    height: 363px;
    flex-shrink: 0;
  }
  .main_img {
    display: none;
  }
  .main_heading {
    display: flex;
    gap: 15px;
    margin-top: 148px;
    margin-left: 56px;
    margin-bottom: 148px;
    margin-right: 56px;
    justify-content: center;
    align-items: center;
  }
  .main_heading_h1 {
    white-space: nowrap;
  }
  .main_heading_h2 {
    white-space: nowrap;
  }
  .selector {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 32px;
  }
  .nav_list {
    width: 411.6px;
    height: 296.4px;
    flex-shrink: 0;
  }
  .nav_list_dark {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
  }
  .nav_box_text {
    left: 14cqb;
    bottom: 16cqh;
  }
  .nav_list_big {
    width: 412.8px;
    height: 133.2px;
    flex-shrink: 0;
  }
  .nav_list_big_dark {
    width: 343.262px;
    height: 111px;
    flex-shrink: 0;
  }
  .subscribe {
    gap: 0px;
    padding-bottom: 0px;
  }
  .subscribe_left {
    width: 343px;
    height: 73px;
    flex-shrink: 0;
    height: 200px;
  }
  .subscribe_right {
    margin-top: 59px;
  }
  .subscribe_title {
    color: #222;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.2%;
  }
  .subscribe_big {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 153.2%; /* 36.768px */
  }
  .subscribe_little_title {
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.2%;
  }
  .subscribe_forma {
    width: 340px;
    margin-bottom: 109px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 40px;
  }
  .footer .last-footer {
    order: 1;
  }
  .footer .first-footer {
    order: -1;
  }
}/*# sourceMappingURL=style.css.map */